################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Apka Kursy/FileContentIndex/35d839e9-d9e2-4851-bd62-736a709cf00e.vsidx
