################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Apka Kursy/obj/Debug/net7.0/Apka Kursy.AssemblyInfo.cs
/Apka Kursy/obj/Debug/net7.0/Apka Kursy.AssemblyInfoInputs.cache
/Apka Kursy/obj/Debug/net7.0/Apka Kursy.assets.cache
/Apka Kursy/obj/Debug/net7.0/Apka Kursy.csproj.AssemblyReference.cache
/Apka Kursy/obj/Debug/net7.0/Apka Kursy.GeneratedMSBuildEditorConfig.editorconfig
*.vsidx
/.vs/Apka Kursy/v17/.suo
/Apka Kursy/bin/Debug/net7.0/Apka Kursy.dll
/Apka Kursy/bin/Debug/net7.0/Apka Kursy.exe
/Apka Kursy/bin/Debug/net7.0/Apka Kursy.pdb
/Apka Kursy/bin/Debug/net7.0/file.txt
/Apka Kursy/obj/Debug/net7.0/ref/Apka Kursy.dll
/Apka Kursy/obj/Debug/net7.0/Apka Kursy.csproj.FileListAbsolute.txt
/Apka Kursy/obj/Debug/net7.0/Apka Kursy.dll
/Apka Kursy/obj/Debug/net7.0/Apka Kursy.genruntimeconfig.cache
/Apka Kursy/obj/Debug/net7.0/Apka Kursy.pdb
/Apka Kursy/obj/Debug/net7.0/Apka Kursy.sourcelink.json
/Apka Kursy/obj/Debug/net7.0/apphost.exe
/Apka Kursy/obj/Debug/net7.0/refint/Apka Kursy.dll
/.vs/Apka Kursy/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/apka kursy.metadata.v6.1
/.vs/ProjectEvaluation/apka kursy.projects.v6.1
/Apka Kursy/obj/Debug/net7.0/Apka Kursy.csproj.CoreCompileInputs.cache
